<header style="padding:10px;background:#f9f9f9;border-top:3px solid #00b2b1"><img id="Teradata-logo" src="https://www.teradata.com/Teradata/Images/Rebrand/Teradata_logo-two_color.png" alt="Teradata" width="220" align="right" />

<p style = 'font-size:28px;font-family:Arial;color:#E37C4D'><b>VantageCloud Lake Systems Scaling and Monitoring</b></p>
<hr>

<br>

<b style = 'font-size:24px;font-family:Arial;color:#E37C4D'>Demo 3 - VantageCloud Lake Systems and User Monitoring Deep-Dive</b>

<p style = 'font-size:16px;font-family:Arial'>This notebook will illustrate various example queries using Python and SQL to monitor system health, user sessions, and historical events.</p>

<p style = 'font-size:16px;font-family:Arial'>The demonstration consists of short vignettes that illustrate some basic query patterns.</p>
<ol style = 'font-size:16px;font-family:Arial'>
    <li><b style = 'color:#00b2b1'>Connect to the VantageCloud Lake System</b> - Connect as a user with access to the metrics service and performance monitoring functions</li>
    <li><b style = 'color:#00b2b1'>Current Resource Utilization</b> - The current system utilization</li>
    <li><b style = 'color:#00b2b1'>Historic Resource Utilization</b> - Queries showing how to query historical resource usage data</li>
    <li><b style = 'color:#00b2b1'>Cluster Events</b> - Queries to analyze what compute resources were available when</li>
    <li><b style = 'color:#00b2b1'>Active User and Session Monitoring</b> - For active sessions, queries that monitor users and SQL steps and text.  This requires a running workload provided in Demo 1</li>
    <li><b style = 'color:#00b2b1'>Query Logging</b> - Database Query Logs</li>
    </ol>

<hr>

<p style = 'font-size:18px;font-family:Arial;color:#E37C4D'>Python Package Imports</p>

<p style = 'font-size:16px;font-family:Arial'>
Import the required packages including teradata client packages (teradataml), as well as packages for data management and display control.</p>

In [2]:
import warnings
warnings.filterwarnings('ignore')

import json
from teradataml import *
import pandas as pd
import numpy as np

from IPython.display import display

<hr>

<p style = 'font-size:18px;font-family:Arial;color:#E37C4D'>Connect to Vantage</p>

<p style = 'font-size:16px;font-family:Arial'>Before performing any operations in Vantage, we need to connect to the system.  The below code will read in a variables file (vars.json - this has been used in prior environment setup and data engineering examples) and will connect to Vantage with this information.  The Vantage connection is referred to as a "Context" - a common python-rdbms connection architecture.</p>

In [4]:
# create a local dictionary of environment-specific variables

# load vars json
with open('../../vars.json', 'r') as f:
    session_vars = json.load(f)

# Use the "data_engineer" and Business compute group from the base setup
host = session_vars['environment']['host']
username = session_vars['hierarchy']['users']['business_users'][0]['username']
password = session_vars['hierarchy']['users']['business_users'][0]['password']

eng = create_context(host = host, username = username, password = password)

# confirm connection
print(eng)

Engine(teradatasql://data_engineer:***@52.12.195.152)

<hr>
<p style = 'font-size:24px;font-family:Arial;color:#E37C4D'><b>Compute Cluster Information</b></p>

<p style = 'font-size:18px;font-family:Arial;color:#E37C4D'>All Compute Profiles</p>

<p style = 'font-size:16px;font-family:Arial'>Get all configured Compute Profiles in all Compute Groups, and list their status and internal identifiers.  Note that Compute Profiles that have been configured with more than one instance will have those instances listed here regardless of whether they are active or not.</p>

In [5]:
qry = '''
/* gets compute cluster name, internal identifiers, and status */
select
    g.ComputeGroupName,
    p.ComputeProfileName,
    g.ComputeGroupUniqName,
    p.ComputeProfileUniqName,
    s.InstanceName, 
    s.CurrentState,
    s.LastReqState
from DBC.ComputeGroupsV g, DBC.ComputeProfilesV p, DBC.ComputeStatusV s
where
    g.ComputeGroupName=p.ComputeGroupName and
    p.ComputeProfileName=s.ComputeProfileName
ORDER BY 1,6
    ;'''

pd.read_sql(qry, eng)

,ComputeGroupName,ComputeProfileName,ComputeGroupUniqName,ComputeProfileUniqName,InstanceName,CurrentState,LastReqState
0,CG_BusGrpA_ANL,CP_BusGrpA_ANL_1_SML,computegroup2,computeprofile2,3bpy1b,Hibernated,SUSPEND
1,CG_BusGrpA_STD,CP_BusGrpA_STD_2_XSM,computegroup1,computeprofile3,gmo1a0,Hibernated,SUSPEND
2,CG_BusGrpA_STD,CP_BusGrpA_STD_2_XSM,computegroup1,computeprofile3,rho21l,Hibernated,SUSPEND
3,CG_BusGrpA_STD,CP_BusGrpA_STD_2_XSM,computegroup1,computeprofile3,vs82z5,Hibernated,SUSPEND
4,CG_BusGrpA_STD,CP_BusGrpA_STD_1_SML,computegroup1,computeprofile1,7ya70r,Hibernated,SUSPEND

<hr>

<p style = 'font-size:18px;font-family:Arial;color:#E37C4D'>All Active Profiles</p>

<p style = 'font-size:16px;font-family:Arial'>This is helpful to monitor just the active Compute Profile instances.  During times of scaling - or - if the Profile has been configured to have multiple active instances, each active instance will have a unique InstanceName.</p>

In [6]:
qry = '''
/* gets compute cluster name, internal identifiers */
select
    g.ComputeGroupName,
    p.ComputeProfileName,
    s.ComputeInstanceType,
    g.ComputeGroupUniqName,
    p.ComputeProfileUniqName,
    s.InstanceName 
from DBC.ComputeGroupsV g, DBC.ComputeProfilesV p, DBC.ComputeStatusV s
where
    g.ComputeGroupName=p.ComputeGroupName and
    p.ComputeProfileName=s.ComputeProfileName
    and s.CurrentState='Active'
    ;'''
pd.read_sql(qry, eng)

Empty DataFrame
Columns: [ComputeGroupName, ComputeProfileName, ComputeInstanceType, ComputeGroupUniqName, ComputeProfileUniqName, InstanceName]
Index: []

<hr>
<p style = 'font-size:24px;font-family:Arial;color:#E37C4D'><b>Current System Performance</b></p>

<p style = 'font-size:16px;font-family:Arial'><a href = 'https://docs.teradata.com/r/Teradata-VantageCloud-Lake/Monitoring-Performance-and-Resource-Usage/Performance-and-Query-Monitoring/Single-Operational-View-APIs'>Single Operational View APIs</a> provide the ability to view current system and query performance.  See the documentation for the full set of APIs and parameters. Some examples follow</p> 

<hr>

<p style = 'font-size:18px;font-family:Arial;color:#E37C4D'>CPU Utilization for Compute Groups</p>

<p style = 'font-size:16px;font-family:Arial'>Use the MonitorPhysicalResourceSV API and the configuration information to view CPU utilization for the each Compute Profile Instance.</p>

In [7]:
qry = '''
/* overall CPU for a compute group, associated profile, and instance*/

SELECT s.InstanceName, p.ComputeProfileName, g.ComputeGroupName,  AVERAGE(dt.CPUUse) as CPUUse FROM
     syslib.MonitorPhysicalResourceSV(USING details('1')) dt, DBC.ComputeGroupsV g, DBC.ComputeProfilesV p, DBC.ComputeStatusV s

WHERE dt."Group" IS NOT NULL AND
         s.CurrentState='Active' AND
         dt."Group" = g.ComputeGroupUniqName AND
         g.ComputeGroupName=p.ComputeGroupName AND
         p.ComputeProfileName=s.ComputeProfileName
GROUP BY 1,2,3'''

pd.read_sql(qry, eng)

Empty DataFrame
Columns: [InstanceName, ComputeProfileName, ComputeGroupName, CPUUse]
Index: []

<hr>

<p style = 'font-size:18px;font-family:Arial;color:#E37C4D'>All Physical Resource Utilization for Primary Groups</p>

<p style = 'font-size:16px;font-family:Arial'>Use the MonitorPhysicalResourceSV API alone to view "primary cluster" resources.</p>

In [8]:
qry = '''
SELECT  * FROM
     syslib.MonitorPhysicalResourceSV(USING details('1')) dt
WHERE "Type" = 'primary cluster'
ORDER BY 1'''

pd.read_sql(qry, eng)

,ProcId,Status,AmpCount,PECount,CPUUse,PrcntKernel,PrcntService,PrcntUser,DiskUse,DiskReads,...,MemAgings,NVMemAllocate,NVMemAllocSegs,NVMemAgings,NetAUp,NetBUp,Type,Id,Name,Group
0,10001,U,4,2,2.549537,0.376629,0.505158,2.044379,1.301537,359.0,...,0.0,0.0,0.0,0.0,0,U,primary cluster,pog-2a0319da5f,1,None
1,10002,U,4,2,2.040421,0.363505,0.347257,1.693164,1.240987,363.0,...,0.0,0.0,0.0,0.0,0,U,primary cluster,pog-2a0319da5f,1,None

<hr>

<p style = 'font-size:18px;font-family:Arial;color:#E37C4D'>Select Physical Resource Utilization for all system components</p>

<p style = 'font-size:16px;font-family:Arial'>Use the MonitorPhysicalResourceSV API alone to view all components, select resource utilization.</p>

In [9]:
qry = '''
/* Per-node, per-instance, high level information */

SELECT dt."ProcID" as "ProcID",
    dt."Type" as "Type",
    dt."Status" as "Status",
    dt."AmpCount" as "AmpCount",
    dt."Group" as "Group", 
    dt."Name" as "Name",
    dt.CPUUse as CPUUse 

    FROM
     syslib.MonitorPhysicalResourceSV(USING details('1')) AS dt;
     '''

pd.read_sql(qry, eng)

   ProcID             Type Status  AmpCount Group Name    CPUUse
0   10001  primary cluster     U          4  None    1  2.549537
1   10002  primary cluster     U          4  None    1  2.040421

<hr>

<p style = 'font-size:18px;font-family:Arial;color:#E37C4D'>Virtual Resource Utilization</p>

<p style = 'font-size:16px;font-family:Arial'>Use the MonitorVirtualResource API alone to view Virtual Resource utilization on the Primary Cluster.</p>

In [10]:
qry = '''
/* Virtual Resources - doesn't show Compute Clusters */
select * from syslib.MonitorVirtualResource(USING details('1')) as x order by 1; 
'''

pd.read_sql(qry, eng)

,VprocNo,VprocType,Status,ProcId,ClusterNo,SessLogCount,SessRunCount,CPUUse,PctService,PctAMPWT,...,DiskWrites,DiskOutReqAvg,PctParser,PctDispatcher,CICUse,HstBlkRds,HstBlkWrts,NetReads,NetWrites,NVMemAllocSegs
0,0,AMP,U,10001,0,0,0,0.006874,0.004375,0.002083,...,899.0,0.001683,0.0,0.000000,0.0,0.0,0.0,802.0,682.0,13.0
1,1,AMP,U,10001,1,0,0,0.006666,0.004583,0.001667,...,896.0,0.001583,0.0,0.000000,0.0,0.0,0.0,617.0,627.0,12.0
2,2,AMP,U,10001,2,0,0,0.006666,0.004583,0.001875,...,968.0,0.002266,0.0,0.000000,0.0,0.0,0.0,654.0,684.0,13.0
3,3,AMP,U,10001,3,0,0,0.007499,0.004583,0.002708,...,1079.0,0.002366,0.0,0.000000,0.0,0.0,0.0,856.0,814.0,13.0
4,4,AMP,U,10002,0,0,0,0.004791,0.003541,0.001250,...,924.0,0.002050,0.0,0.000000,0.0,0.0,0.0,790.0,637.0,13.0
5,5,AMP,U,10002,1,0,0,0.004583,0.003333,0.001250,...,890.0,0.002316,0.0,0.000000,0.0,0.0,0.0,587.0,605.0,13.0
6,6,AMP,U,10002,2,0,0,0.005833,0.004166,0.001458,...,1009.0,0.002500,0.0,0.000000,0.0,0.0,0.0,633.0,678.0,13.0
7,7,AMP,U,10002,3,0,0,0.006458,0.004166,0.002083,...,1085.0,0.002516,0.0,0.000000,0.0,0.0,0.0,938.0,948.0,14.0
8,28668,TVS,U,10002,0,3,0,0.000208,0.000000,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,114.0,183.0,0.0
9,28669,TVS,U,10002,0,2,0,0.000417,0.000000,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,101.0,32.0,0.0
10,28670,TVS,U,10001,0,1,0,0.000417,0.000000,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,104.0,174.0,0.0
11,28671,TVS,U,10001,0,0,0,0.000208,0.000000,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,104.0,34.0,0.0
12,30716,PE,U,10002,1025,5,0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,249.0,199.0,0.0
13,30717,PE,U,10002,1025,5,0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,81.0,118.0,0.0
14,30718,PE,U,10001,1025,5,0,0.002291,0.001042,0.000000,...,0.0,0.000000,0.0,0.001667,0.0,0.0,0.0,1125.0,1079.0,0.0
15,30719,PE,U,10001,1025,6,0,0.010207,0.000208,0.000000,...,0.0,0.000000,0.0,0.010207,0.0,0.0,0.0,328.0,285.0,0.0

<hr>
<p style = 'font-size:24px;font-family:Arial;color:#E37C4D'><b>Historic System Utilization</b></p>

<p style = 'font-size:16px;font-family:Arial'><a href = 'https://docs.teradata.com/r/Teradata-VantageCloud-Lake/Monitoring-Performance-and-Resource-Usage/Performance-and-Query-Monitoring/Performance-Trends-and-History/Monitoring-Resource-Usage'>ResUsage</a>
<br>
Each resource usage foreign table represents system usage data from a specific perspective collected during the logging period. The logging period is a system defined interval of time during which usage data is accumulated (specified in the NominalSecs column in each table). At the end of the logging interval, usage data is written to each of the resource usage foreign tables. Views have been created that are named similarly to the foreign tables in your unmanaged object storage.</p>

<hr>

<p style = 'font-size:18px;font-family:Arial;color:#E37C4D'>CPU Utilization</p>

<p style = 'font-size:16px;font-family:Arial'>If you need detailed statistics for each CPU within the system, use this view to evaluate parallelism of CPUs within a node.  Join to DBC tables to get the Instance, Profile, and Group for each component, and calculate percentages.</p>

In [11]:
qry = '''
SELECT TOP 5 *
    FROM
    TD_METRIC_SVC.resusagescpuV;
     '''
display(pd.read_sql(qry, eng))

qry = '''
SELECT TOP 10 
    TO_TIMESTAMP(rs.TheTimestamp) TheTimestamp, 
    rn.ComputeGroupName, 
    rn.ComputeProfileName, 
    rn.InstanceName,
    rs.cpuid,
    rs.CentiSecs, 
    rs.CPUIdle/rs.CentiSecs pctIdle, 
    rs.CPUIoWait/rs.CentiSecs pctIoWait, 
    rs.CPUUServ/rs.CentiSecs pctUserv, 
    rs.CPUUexec/rs.CentiSecs pctUexec

FROM TD_METRIC_SVC.resusagescpuV rs

JOIN (SELECT pr."Id", pr."Group", pr."ProcID", g.ComputeGroupName, p.ComputeProfileName, s.InstanceName
            FROM syslib.MonitorPhysicalResourceSV(USING details('1')) pr, DBC.ComputeStatusV s, DBC.ComputeProfilesV p, DBC.ComputeGroupsV g
            WHERE pr."Id" LIKE '%' || s.InstanceName || '%' AND
                 g.ComputeGroupName=p.ComputeGroupName and
                 p.ComputeProfileName=s.ComputeProfileName) rn
ON rn.ID = rs.path_component_id
'''

display(pd.read_sql(qry, eng))

,Location,Path_Component_ID,Path_CollectTimeStamp,Path_Year,Path_Month,Path_Day,Path_Hour,Path_Minute,Path_Ver,TheDate,...,Spare07,Spare08,Spare09,Active,CPUIdle,CPUIoWait,CPUUServ,CPUUExec,TDEnabled,SpareInt
0,/S3/s3.amazonaws.com/pod-tenant-tc2a0319-acc-2...,sys-2a0319503e_computegroup1_computeprofile3_r...,1680393599000,2023,04,01,23,59,20.00.04.18,2023-04-01,...,0.0,0.0,0.0,1.0,58606.0,107.0,76.0,174.0,1.0,0.0
1,/S3/s3.amazonaws.com/pod-tenant-tc2a0319-acc-2...,sys-2a0319503e_computegroup2_computeprofile2_3...,1680739199000,2023,04,05,23,59,20.00.04.18,2023-04-05,...,0.0,0.0,0.0,1.0,34790.0,109.0,187.0,380.0,1.0,0.0
2,/S3/s3.amazonaws.com/pod-tenant-tc2a0319-acc-2...,sys-2a0319503e_computegroup2_computeprofile2_o...,1679270399000,2023,03,19,23,59,20.00.04.18,2023-03-19,...,0.0,0.0,0.0,1.0,60159.0,36.0,169.0,262.0,1.0,0.0
3,/S3/s3.amazonaws.com/pod-tenant-tc2a0319-acc-2...,sys-2a0319503e_computegroup2_computeprofile2_2...,1678924799000,2023,03,15,23,59,20.00.04.18,2023-03-15,...,0.0,0.0,0.0,1.0,60210.0,73.0,126.0,218.0,1.0,0.0
4,/S3/s3.amazonaws.com/pod-tenant-tc2a0319-acc-2...,sys-2a0319503e_computegroup2_computeprofile2_o...,1679356799000,2023,03,20,23,59,20.00.04.18,2023-03-20,...,0.0,0.0,0.0,1.0,57750.0,28.0,339.0,871.0,1.0,0.0

Empty DataFrame
Columns: [TheTimestamp, ComputeGroupName, ComputeProfileName, InstanceName, cpuid, CentiSecs, pctIdle, pctIoWait, pctUserv, pctUexec]
Index: []

<hr>
<p style = 'font-size:24px;font-family:Arial;color:#E37C4D'><b>Historic Cluster Events</b></p>

<p style = 'font-size:16px;font-family:Arial'><a href = 'https://docs.teradata.com/r/Teradata-VantageCloud-Lake/Monitoring-Performance-and-Resource-Usage/Performance-and-Query-Monitoring/Performance-Trends-and-History/Monitoring-Compute-Cluster-Events'>Monitoring Compute Cluster Events</a>
<br>
Compute clusters are elastic compute resources that can be created, started, stopped, hibernated and released dynamically to provide the necessary compute resources when needed, and removed when no longer needed. To better understand the behavior of these compute resources, you can leverage the views and underlying tables to gain insight into the state of your compute clusters and the events that changed a compute cluster state.</p>

<hr>

<p style = 'font-size:18px;font-family:Arial;color:#E37C4D'>Compute Profile History</p>

<p style = 'font-size:16px;font-family:Arial'>The ComputeProfileHistoryV view can be used to:</p>
<ul style = 'font-size:16px;font-family:Arial'>
<li>Determine when a compute cluster autoscaled up or down.
<li>Identify events that bring a compute cluster online or offline.
<li>Validate the identify overlap between different compute profiles in a compute group.
</ul>

In [12]:
qry = '''
SELECT TOP 5 *
    FROM
    td_metric_svc.ComputeProfileHistoryV;
     '''
display(pd.read_sql(qry, eng))

,Location,EventTime,InstanceName,ComputeGroupName,ComputeProfileName,ComputeGroupID,ComputeProfileID,SystemID,State,ComputeMapName,Component_ID,NodeCount,InstanceType,AMPsPerNode
0,/S3/s3.amazonaws.com/pod-tenant-tc2a0319-acc-2...,2023-04-14 08:39:51.890,5fgst1,TEST_COMPUTE GROUP,SAMPLE_COMPUTE PROFILE,computegroup7,computeprofile11,sys-2a0319503e,Online,TD_COMPUTE_XSMALL,sys-2a0319503e_computegroup7_computeprofile11_...,1,R5D.12XLARGE,24
1,/S3/s3.amazonaws.com/pod-tenant-tc2a0319-acc-2...,2023-04-14 08:40:17.780,8448ew,TEST_COMPUTE GROUP,SAMPLE_COMPUTE PROFILE,computegroup7,computeprofile11,sys-2a0319503e,Online,TD_COMPUTE_XSMALL,sys-2a0319503e_computegroup7_computeprofile11_...,1,R5D.12XLARGE,24
2,/S3/s3.amazonaws.com/pod-tenant-tc2a0319-acc-2...,2023-04-14 08:39:26.170,aclu3m,TEST_COMPUTE GROUP,SAMPLE_COMPUTE PROFILE,computegroup7,computeprofile11,sys-2a0319503e,Online,TD_COMPUTE_XSMALL,sys-2a0319503e_computegroup7_computeprofile11_...,1,R5D.12XLARGE,24
3,/S3/s3.amazonaws.com/pod-tenant-tc2a0319-acc-2...,2023-03-30 22:10:13.330,xeil8o,CG_TDJ_TESTGRP_STD,CP_TDJ_TESTGRP_STD2,computegroup6,computeprofile10,sys-2a0319503e,Offline,TD_COMPUTE_XSMALL,sys-2a0319503e_computegroup6_computeprofile10_...,1,R5D.12XLARGE,24
4,/S3/s3.amazonaws.com/pod-tenant-tc2a0319-acc-2...,2023-04-14 08:50:05.980,aclu3m,TEST_COMPUTE GROUP,SAMPLE_COMPUTE PROFILE,computegroup7,computeprofile11,sys-2a0319503e,Offline,TD_COMPUTE_XSMALL,sys-2a0319503e_computegroup7_computeprofile11_...,1,R5D.12XLARGE,24

<hr>

<p style = 'font-size:18px;font-family:Arial;color:#E37C4D'>Compute Profile History Events</p>

<p style = 'font-size:16px;font-family:Arial'>The ComputeProfileHistoryEventsV view can be used to:</p>
<ul style = 'font-size:16px;font-family:Arial'>
<li>Compute the amount of time during a month when compute clusters were available.
<li>Identify time periods when compute clusters were hibernated.
</ul>

In [13]:
qry = '''
SELECT TOP 10 *
    FROM
    td_metric_svc.ComputeProfileHistoryEventsV
    ORDER BY StartTime DESC;
     '''
display(pd.read_sql(qry, eng))

,InstanceName,ComputeGroupName,ComputeProfileName,ComputeProfileID,ComputeGroupID,SystemID,StartTime,EndTime,ComputeMapName,Component_ID,NodeCount,InstanceType,AMPsPerNode
0,8448ew,TEST_COMPUTE GROUP,SAMPLE_COMPUTE PROFILE,computeprofile11,computegroup7,sys-2a0319503e,2023-04-14 08:40:17.780,2023-04-14 09:02:59.830,TD_COMPUTE_XSMALL,sys-2a0319503e_computegroup7_computeprofile11_...,1,R5D.12XLARGE,24
1,5fgst1,TEST_COMPUTE GROUP,SAMPLE_COMPUTE PROFILE,computeprofile11,computegroup7,sys-2a0319503e,2023-04-14 08:39:51.890,2023-04-14 08:56:26.330,TD_COMPUTE_XSMALL,sys-2a0319503e_computegroup7_computeprofile11_...,1,R5D.12XLARGE,24
2,aclu3m,TEST_COMPUTE GROUP,SAMPLE_COMPUTE PROFILE,computeprofile11,computegroup7,sys-2a0319503e,2023-04-14 08:39:26.170,2023-04-14 08:50:05.980,TD_COMPUTE_XSMALL,sys-2a0319503e_computegroup7_computeprofile11_...,1,R5D.12XLARGE,24
3,a5q3oe,TEST_COMPUTE GROUP,SAMPLE_COMPUTE PROFILE,computeprofile11,computegroup7,sys-2a0319503e,2023-04-14 08:38:58.290,2023-04-14 08:43:56.330,TD_COMPUTE_XSMALL,sys-2a0319503e_computegroup7_computeprofile11_...,1,R5D.12XLARGE,24
4,3bpy1b,CG_BUSGRPA_ANL,CP_BUSGRPA_ANL_1_SML,computeprofile2,computegroup2,sys-2a0319503e,2023-04-07 09:03:20.390,2023-04-07 11:25:30.420,TD_COMPUTE_SMALL,sys-2a0319503e_computegroup2_computeprofile2_3...,2,R5D.12XLARGE,24
5,3bpy1b,CG_BUSGRPA_ANL,CP_BUSGRPA_ANL_1_SML,computeprofile2,computegroup2,sys-2a0319503e,2023-04-06 09:04:00.640,2023-04-06 21:00:03.020,TD_COMPUTE_SMALL,sys-2a0319503e_computegroup2_computeprofile2_3...,2,R5D.12XLARGE,24
6,3bpy1b,CG_BUSGRPA_ANL,CP_BUSGRPA_ANL_1_SML,computeprofile2,computegroup2,sys-2a0319503e,2023-04-04 22:24:37.100,2023-04-05 21:00:20.380,TD_COMPUTE_SMALL,sys-2a0319503e_computegroup2_computeprofile2_3...,2,R5D.12XLARGE,24
7,gmo1a0,CG_BUSGRPA_STD,CP_BUSGRPA_STD_2_XSM,computeprofile3,computegroup1,sys-2a0319503e,2023-04-04 15:20:45.640,2023-04-04 15:43:30.890,TD_COMPUTE_XSMALL,sys-2a0319503e_computegroup1_computeprofile3_g...,1,R5D.12XLARGE,24
8,3bpy1b,CG_BUSGRPA_ANL,CP_BUSGRPA_ANL_1_SML,computeprofile2,computegroup2,sys-2a0319503e,2023-04-04 12:05:58.410,2023-04-04 15:52:20.220,TD_COMPUTE_SMALL,sys-2a0319503e_computegroup2_computeprofile2_3...,2,R5D.12XLARGE,24
9,rho21l,CG_BUSGRPA_STD,CP_BUSGRPA_STD_2_XSM,computeprofile3,computegroup1,sys-2a0319503e,2023-04-04 10:15:12.160,2023-04-04 10:55:27.550,TD_COMPUTE_XSMALL,sys-2a0319503e_computegroup1_computeprofile3_r...,1,R5D.12XLARGE,24

<hr>
<p style = 'font-size:24px;font-family:Arial;color:#E37C4D'><b>Active User And Query Monitoring</b></p>

<p style = 'font-size:16px;font-family:Arial'><a href = 'https://docs.teradata.com/r/Teradata-VantageCloud-Lake/Monitoring-Performance-and-Resource-Usage/Performance-and-Query-Monitoring/Single-Operational-View-APIs'>Single Operational View APIs</a> provide the ability to view current system and query performance.  See the documentation for the full set of APIs and parameters. Some examples follow</p>

<hr>

<p style = 'font-size:18px;font-family:Arial;color:#E37C4D'>Monitoring Sessions</p>

<p style = 'font-size:16px;font-family:Arial'>Use this single operational view API for session or request resource usage statistics across VantageCloud Lake nodes. This API can return session information across VantageCloud Lake topology (primary clusters and compute clusters). This API can also be used to trace query session to a compute node.</p>

<ol style = 'font-size:16px;font-family:Arial'>
    <li>First, show all sessions</li>
    <li>Next, show all sessions with active queries, connected to the primary cluster</li>
    </ol>

In [14]:
qry = '''
SELECT TOP 5 *
  FROM MONITORSESSIONSV(   
 USING HOSTID('-1')
       USERNAME('*')
       SESSIONID('0')
       ) AS DT;
       '''
display(pd.read_sql(qry, eng))

qry = '''
SELECT UserName, SessionNo, LogonPENo
FROM MONITORSESSIONSV(   
USING HOSTID('-1')
       USERNAME('*')
       SESSIONID('0')
       ) AS DT
WHERE AmpState = 'ACTIVE'
    AND HostID = 1
ORDER BY 1,2;
       '''
display(pd.read_sql(qry, eng))

,HostId,SessionNo,LogonPENo,RunVprocNo,PartName,PEstate,LogonTime,UserId,LSN,UserName,...,ReqHotAmpSpool,ReqHotAmpSpoolId,ReqMapNo,ReqMaxNumMapAMPs,ReqMinNumMapAMPs,ReqSysDefNumMapAMPs,ReqRemoteHostIp,ReqServerName,ReqFlexReleased,ReqAdmissionTime
0,1,1470166,30716,30716,DBC/SQL,IDLE,2023/04/14 13:31:19.00,1099,0,DATA_ENGINEER,...,0.0,-1,0,0,0,0,,,0,0000/00/00 00:00:00.00
1,1,1470180,30716,30716,DBC/SQL,IDLE,2023/04/14 13:35:51.00,1099,0,DATA_ENGINEER,...,0.0,-1,0,0,0,0,,,0,0000/00/00 00:00:00.00
2,1,1470167,30716,30716,DBC/SQL,IDLE,2023/04/14 13:31:19.00,1099,0,DATA_ENGINEER,...,0.0,-1,0,0,0,0,,,0,0000/00/00 00:00:00.00
3,1,1459576,30716,30716,DBC/SQL,IDLE,2023/04/11 10:31:43.00,1099,0,DATA_ENGINEER,...,0.0,-1,0,0,0,0,,,0,0000/00/00 00:00:00.00
4,1,1105,30716,30716,DBC/SQL,IDLE,2023/03/09 17:10:07.00,1040,0,TDAAS_TDBCMGMT1,...,0.0,-1,0,0,0,0,,,0,0000/00/00 00:00:00.00

Empty DataFrame
Columns: [UserName, SessionNo, LogonPENo]
Index: []

<hr>

<p style = 'font-size:18px;font-family:Arial;color:#E37C4D'>Parent/Child Sessions, SQL Steps, SQL Text</p>

<p style = 'font-size:16px;font-family:Arial'>MonitorSessionSV will return information about logged-in sessions for both the Parent/Primary and Child/Compute "users". This session information can be used to monitor active session SQL Steps and SQL Text using additional APIs.
<br>
<b>Note, there should be active Queries on the system for this section.  Ensure the Lab 1 workload is still running. If you see the message "No Active Sessions to retrieve SQL" rerun the workload generation.</b></p>

<ol style = 'font-size:16px;font-family:Arial'>
    <li>Get the current active session HostID, SessionNo, and VProc</li>
    <li>Join Parent to Child Sessions</li>
    <li>Take the first session, pass Session Number and VProc to MonitorSQLStepsSV</li>
    <li>Take the same session, pass Session Number and VProc to 
    </ol>

In [15]:

qry = '''
/* First - get the current active session HostID, SessionNo, and VProc */

SELECT HostId, SessionNo, RunVprocNo, Username from MonitorSessionSV(    
  USING
    hostId('-1')
    userName('*')
    sessionId('0')
    details('1')
) 
AS dt
WHERE AmpState='ACTIVE';'''

print('Active Sessions:')
display(pd.read_sql(qry, eng))

qry = '''

/* Second, join Parent to Child Sessions */
SELECT dt.HostId PrimaryHost, 
    dt.SessionNo PrimarySession, 
    dt.RunVProcNo PrimaryVProc, 
    dc.SessionNo ComputeSession, 
    dc.HostId ComputeHost, 
    dc.RunVProcNo ComputeVproc, 
    dt.UserName PrimaryUser, 
    dc.UserName ComputeUser
FROM MonitorSessionSV(    
  USING
    hostId('-1')
    userName('*')
    sessionId('0')
    details('1')
) 
AS dt,
MonitorSessionSV(    
  USING
    hostId('-1')
    userName('*')
    sessionId('0')
    details('1')
) AS dc
WHERE dt.AmpState='ACTIVE' AND
    dt.ParentSessionNo = 0 AND
    dc.ParentSessionNo > 0 AND
    dc.ParentSessionNo = dt.SessionNo;'''

df = pd.read_sql(qry, eng)
print('Parent/Child Sessions:')
display(df)

if len(df) > 0:
    sess = df['PrimarySession'].iloc[0]
    vproc = df['PrimaryVProc'].iloc[0]

    qry = f'''
    /* Pass these values into the function */
    SELECT StepNum, EstRowCount, ActRowCount, SQLStep
    FROM MonitorSQLStepsSV(
      USING
        HostIdIn('1')
        SessionNoIn('{sess}')
        RunVProcNo('{vproc}')
        details('1')
    ) AS dt;
    '''
    print('SQL Steps:')
    df = pd.read_sql(qry, eng)
    display(df)

    qry = f'''
    SELECT SessionNo, SQLTxt from MonitorSQLTextSV(
      USING
        HostIdIn('1')
        SessionNoIn('{sess}')
        RunVProcNo('{vproc}')
        details('1')
    ) AS dt;
    '''
    print('SQL Text:')
    display(pd.read_sql(qry, eng))

else:
    print('No Active Sessions to retrieve SQL')

Active Sessions:

Empty DataFrame
Columns: [HostId, SessionNo, RunVprocNo, UserName]
Index: []

Parent/Child Sessions:

Empty DataFrame
Columns: [PrimaryHost, PrimarySession, PrimaryVProc, ComputeSession, ComputeHost, ComputeVproc, PrimaryUser, ComputeUser]
Index: []

No Active Sessions to retrieve SQL

<hr>
<p style = 'font-size:24px;font-family:Arial;color:#E37C4D'><b>Query History and Logging</b></p>

<p style = 'font-size:16px;font-family:Arial'><a href = 'https://docs.teradata.com/r/Teradata-VantageCloud-Lake/Monitoring-Performance-and-Resource-Usage/Performance-and-Query-Monitoring/Performance-Trends-and-History/Monitoring-Queries'>Database Query Logging (DBQL)</a> can be used to monitor prior queries and query performance.</p>

<hr>

<p style = 'font-size:18px;font-family:Arial;color:#E37C4D'>Query Logs - Compute Queries</p>

<p style = 'font-size:16px;font-family:Arial'>Uses the td_metrics_svc.dbqlogv table to retrieve query logs for queries running on a Compute Cluster. This query assumes there is a parent-child query ID relationship as above with Sessions.
<br><br>
Next, we can join this to some of the system queries to assemble a more complete picture of Compute instances used.</p>

In [16]:
qry = '''
-- This query returns info on the session and instance used

select TOP 10
    a.StartTime, 
    a.QueryID, 
    a.SessionID, 
    a.path_component_id PrimaryClusterID, 
    b.path_component_id ComputeClusterID, 
    b.QueryID ComputeQueryID, 
    a.querytext, 
    b.AcctString  
from td_metric_svc.dbqlogv a
inner join td_metric_svc.dbqlogv b on a.QueryID = b.ParentQueryID
order by a.StartTime DESC;'''

display(pd.read_sql(qry, eng))

qry = '''
--find User queries executed on Compute Group

SELECT TOP 10
    a.queryid, 
    a.UserName, 
    a.StartTime, 
    a.sessionid, 
    a.ProcID VProcID, 
    rn.ProcID, 
    a.querytext, 
    rn.ComputeGroupName, 
    rn.ComputeProfileName, 
    rn.InstanceName

/* First - get logged queries that have run on the Compute Group */
FROM td_metric_svc.dbqlogv a
inner join td_metric_svc.dbqlogv b 
    on a.QueryID = b.ParentQueryID

/* next, join the COGID from query log to the compute group friendly name */
JOIN (SELECT pr."Id", pr."Group", pr."ProcID", g.ComputeGroupName, p.ComputeProfileName, s.InstanceName
            FROM syslib.MonitorPhysicalResourceSV(USING details('1')) pr, DBC.ComputeStatusV s, DBC.ComputeProfilesV p, DBC.ComputeGroupsV g
            WHERE pr."Id" LIKE '%' || s.InstanceName || '%' AND
                 g.ComputeGroupName=p.ComputeGroupName and
                 p.ComputeProfileName=s.ComputeProfileName) rn
            ON rn.ID = b.path_component_id

GROUP BY 1,2,3,4,5,6,7,8,9,10
order by a.StartTime DESC;'''

display(pd.read_sql(qry, eng))

,StartTime,QueryID,SessionID,PrimaryClusterID,ComputeClusterID,ComputeQueryID,QueryText,AcctString
0,2023-04-07 13:00:17.981490,3.071604e+17,1381213,pog-2a0319da5f,pog-2a0319da5f,3.071604e+17,"SELECT P.ComputeGroupName, P.ComputeProfileNam...",DBC
1,2023-04-07 13:00:17.766067,3.071604e+17,1381213,pog-2a0319da5f,pog-2a0319da5f,3.071604e+17,"SELECT P.ComputeGroupName, P.ComputeProfileNam...",DBC
2,2023-04-07 13:00:17.721410,3.071604e+17,1381213,pog-2a0319da5f,pog-2a0319da5f,3.071604e+17,SET ROLE ALL,DBC
3,2023-04-07 13:00:17.679603,3.071604e+17,1381213,pog-2a0319da5f,pog-2a0319da5f,3.071604e+17,SET QUERY_BAND='CLIENTIP=127.0.0.1;TDREST=expl...,DBC
4,2023-04-07 13:00:17.674916,3.071604e+17,1381213,pog-2a0319da5f,pog-2a0319da5f,3.071604e+17,SELECT SESSION,DBC
5,2023-04-07 13:00:17.665751,3.071604e+17,1381213,pog-2a0319da5f,pog-2a0319da5f,3.071604e+17,UPD TDBCMGMT.TXNTABLE SET tid = tid WHERE sid...,DBC
6,2023-04-07 13:00:17.664737,3.071604e+17,1381213,pog-2a0319da5f,pog-2a0319da5f,3.071604e+17,"SELECT startupString, timezoneHour, tim...",DBC
7,2023-04-07 13:00:17.663289,3.071604e+17,1381213,pog-2a0319da5f,pog-2a0319da5f,3.071604e+17,SELECT DATABASE;,DBC
8,2023-04-07 13:00:15.277991,3.071604e+17,1381212,pog-2a0319da5f,pog-2a0319da5f,3.071604e+17,"SELECT P.ComputeGroupName, P.ComputeProfileNam...",DBC
9,2023-04-07 13:00:15.060167,3.071604e+17,1381212,pog-2a0319da5f,pog-2a0319da5f,3.071604e+17,"SELECT P.ComputeGroupName, P.ComputeProfileNam...",DBC

Empty DataFrame
Columns: [QueryID, UserName, StartTime, SessionID, VProcID, ProcId, QueryText, ComputeGroupName, ComputeProfileName, InstanceName]
Index: []

Copyright 2023, Teradata Corporation
VantageCloud Lake Systems Monitoring Lab Notebook v1.0